[submodule "lib/aux/httpgui/MetroUICSS"]
	path = lib/aux/httpgui/MetroUICSS
	url = https://github.com/olton/Metro-UI-CSS.git
[submodule "lib/aux/httpgui/jQuery-Knob"]
	path = lib/aux/httpgui/jQuery-Knob
	url = https://github.com/aterrien/jQuery-Knob.git
[submodule "scripts/native_clients/parson"]
	path = scripts/native_clients/parson
	url = https://github.com/kgabis/parson
[submodule "lib/aux/httpgui/flot"]
	path = lib/aux/httpgui/flot
	url = https://github.com/flot/flot
