// CRON job triggering the camera every ten minutes
var fs = require('fs');

module.exports = function(inference, bus, redis) {
    
    inference.rule("camera.trigger").on("time.minute.1").when(function(msgtype, time, msg, proceed) {
        if(new Date(time).getMinutes() % 10 === 0) proceed();
    }).then(function(msgtype, timestamp, msg, proceeding) {
        bus.post("act.camera.hallway", { });
    }).enforce();
    
    inference.rule("camera.cleanup").on("time.minute.1").when(function(msgtype, time, msg, proceed) {
        if(new Date(time).getMinutes() === 0) proceed();
    }).then(function(msgtype, timestamp, msg, proceeding) {
        var camera_storage = __root + 'tmp/camera';
        fs.exists(camera_storage, function(exists) {
            if(exists) fs.readdir(camera_storage, function(err, files) {
                files.forEach(function(file) {
                    fs.stats(file, function(err, stats) {
                        if(Math.abs(stats.ctime - Date.now()) > (24 * 60 * 60 * 1000)) {
                            fs.unlink(file);
                        }
                    });
                });
            });
        })
    }).enforce();
    
};
